<aside>
  <div id="sidebar"  class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu">
      <li class="active">
        <a class="" href="index.html">
          <i class="icon_house_alt"></i>
          <span>Dashboard</span>
        </a>
      </li>
    </ul>   <!-- sidebar menu end-->
  </div>
</aside>