<li class="dropdown">
  <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                <img alt="" src="img/avatar1_small.jpg">
                            </span>
    <span class="username"><%= current_student.email%>></span>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu extended logout">
    <div class="log-arrow-up"></div>
    <li class="eborder-top">
      <a href="#"><i class="icon_profile"></i> My Profile</a>
    </li>
    <li>
      <a href="#"><i class="icon_mail_alt"></i> My Inbox</a>
    </li>
    <li>
      <a href="#"><i class="icon_clock_alt"></i> Timeline</a>
    </li>
    <li>
      <a href="#"><i class="icon_chat_alt"></i> Chats</a>
    </li>
    <li>
      <%= link_to('Logout', destroy_student_session_path, :method => :delete) %>
    </li>
    <li>
      <a href="documentation.html"><i class="icon_key_alt"></i> Documentation</a>
    </li>
    <li>
      <a href="documentation.html"><i class="icon_key_alt"></i> Documentation</a>
    </li>
  </ul>
</li>