<% if admin_signed_in? %>
    <li>
      <%= link_to('Logout', destroy_admin_session_path, :method => :delete) %>
    </li>
<% else %>
    <li>
      <%= link_to('Login', new_user_session_path)  %>
    </li>
<% end %>

Hello <%= current_admin.email %>

<%= render 'projects/index'%>