<p id="notice"><%= notice %></p>

<h1>students</h1>

<table class="table">
  <thead>
  <tr>
    <th>Email</th>
    <th>End time</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @students.each do |student| %>
      <tr>
        <td><%= student.email %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

