<div class="row">
  <div class="col-lg-6 col-md-3 col-sm-12 col-xs-12">
    <div class="info-box blue-bg">
      <i class="fa fa-cloud-download"></i>
      <div class="count"><%= current_student.submissions.where(status: 0).count %></div>
      <div class="title">Pending Submissions</div>
    </div><!--/.info-box-->
  </div><!--/.col-->

  <div class="col-lg-6 col-md-3 col-sm-12 col-xs-12">
    <div class="info-box brown-bg">
      <i class="fa fa-shopping-cart"></i>
      <div class="count"><%= current_student.submissions.where(status: 1).count %></div>
      <div class="title">Completed</div>
    </div><!--/.info-box-->
  </div><!--/.col-->

</div><!--/.row-->
<%= render 'submissions/index' %>
