<p id="notice"><%= notice %></p>

<h1>Submissions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Project</th>
      <th>Student</th>
      <th>Tag</th>
      <th>Start time</th>
      <th>End Time</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td><%= submission.project.name %></td>
        <td><%= submission.student.email %></td>
        <td><%= submission.image_tag %></td>
        <td><%= submission.project.start_time %></td>
        <td><%= submission.project.end_time %></td>
        <td><%= submission.status %></td>
        <td><%= link_to "Verify Submission", "/submissions/#{submission.id}/verify"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
