<p id="notice"><%= notice %></p>

<h1>Submissions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Project</th>
      <th>Student</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td><%= submission.project_id %></td>
        <td><%= submission.student_id %></td>
        <td><%= submission.comments %></td>
        <td><%= link_to 'Show', submission %></td>
        <td><%= link_to 'Edit', edit_submission_path(submission) %></td>
        <td><%= link_to 'Destroy', submission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Submission', new_submission_path %>
