<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @submission.project_id %>
  <%= @submission.project.name %>
</p>

<p>
  <strong>Student:</strong>
  <%= @submission.student_id %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @submission.comments %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
