<%= form_for(project) do |f| %>
    <% if project.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

          <ul>
            <% project.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :admin_id %>
      <%= f.collection_select(:admin_id, Admin.all, :id, :email, :prompt => 'Select') %>
    </div>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :start_time %>
      <%= f.datetime_local_field :start_time %>
    </div>

    <div class="field">
      <%= f.label :end_time %>
      <%= f.datetime_local_field :end_time %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>