<p id="notice"><%= notice %></p>

<p>
  <strong>Admin:</strong>
  <%= @project.admin_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @project.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @project.end_time %>
</p>

<% @students = Student.where(student: @project.submissions.select(:student_id)) %>

<%= render 'students/index'%>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
