<p id="notice"><%= notice %></p>

<p>
  <strong>Admin:</strong>
  <%= @project.admin_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @project.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @project.end_time %>
</p>

<% @submissions = @project.submissions %>



Add Students to this project
<%= form_tag('/projects/import', multipart: true) do %>
    <input type="text" hidden="true" name="project_id" value="<%= @project.id %>">
           <%= file_field_tag :file %>
           <%= submit_tag( "Import" ) %>
<% end %>

<%= render 'submissions/index'%>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
